{% comment %} ADDED BY @OPTIEXPERTS {% endcomment %}
{% comment %} <svg width="25" height="25" class="icon icon_cross_toggle" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M28.3 15.7097C28.1131 15.5225 27.8595 15.4172 27.595 15.4172C27.3305 15.4172 27.0768 15.5225 26.89 15.7097L22 20.5897L17.11 15.6997C16.9231 15.5125 16.6695 15.4072 16.405 15.4072C16.1405 15.4072 15.8868 15.5125 15.7 15.6997C15.31 16.0897 15.31 16.7197 15.7 17.1097L20.59 21.9997L15.7 26.8897C15.31 27.2797 15.31 27.9097 15.7 28.2997C16.09 28.6897 16.72 28.6897 17.11 28.2997L22 23.4097L26.89 28.2997C27.28 28.6897 27.91 28.6897 28.3 28.2997C28.69 27.9097 28.69 27.2797 28.3 26.8897L23.41 21.9997L28.3 17.1097C28.68 16.7297 28.68 16.0897 28.3 15.7097Z" fill="#CCCCCC" stroke="#CCCCCC" stroke-width="2"></path>
  
</svg> {% endcomment %}

<span class="icon_cross_toggle">
  &times;
</span>