{% capture description %}
  {%- if product.empty? -%}
    {{ 'home_page.onboarding.product_description' | t }}
  {%- else -%}
    {{ product.description }}
  {%- endif -%}
{% endcapture %}

<div class="rte">
  {% assign description_parts = description | split: '||' %}
  {%- if description_parts.size > 2 -%}
    {% assign final_description = description_parts[0] | append: description_parts[2] %}
  {%- else -%}
    {% assign final_description = description %}
  {%- endif -%}
  {{ final_description | strip }}
</div>